@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap')
layer(base);

@import 'tailwindcss';

@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

@theme {
 --color-primary: hsl(var(--heroui-primary));
  --color-secondary: hsl(var(--heroui-secondary));
  --color-tertiary:  hsl(var(--heroui-tertiary));

  --color-white: #F9F9FD;
  --color-black: #1E1E1E;
  
  --font-inter: "Inter", sans-serif;
  
  --breakpoint-xs: 480px;
  
  --animate-shake: shake 1s ease-in-out;
  
  @keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-5px) rotate(-10deg); }
    20%, 40%, 60%, 80% { transform: translateX(5px) rotate(10deg); }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility gradient {
  @apply bg-linear-to-r from-tertiary-700 via-primary-600 to-secondary-500;
  @apply dark:from-tertiary-500 dark:via-primary-500 dark:to-secondary-400;
}

@utility text-gradient {
  @apply text-transparent bg-clip-text;
}

@utility glass {
  @apply bg-white/60 dark:bg-white/20 
      border-2 border-[#d8d8d8] dark:border-white/20 backdrop-blur-xs;
}

@utility glass-sm {
  @apply glass bg-white/60 dark:bg-white/20;
}

@utility glass-lg {
  @apply glass bg-white/70  hover:bg-white/30 backdrop-blur-lg;
}

@utility bg-clip-padding-border {
  background-clip: padding-box, border-box;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer utilities {
  html {
    scroll-behavior: smooth;
  }
}

@layer base {
  h2 {
    @apply text-4xl mb-4 font-bold text-center;
  }
}

.text-gradient-color {
  @apply gradient text-gradient;
  line-height: 1.2 !important;
  background-size: 150% auto;

  animation: shine 5s ease-in-out infinite alternate;
}

.text-welcome {
  @apply text-gradient;
  text-shadow: 1px 1px 7.5px rgba(255, 255, 255, 0.9);
  background-color: #cccc;
  z-index: -1;
}

.shadow-gradient {
  position: relative;
  z-index: 1;
}

.shadow-gradient::before {
  @apply gradient;
  content: "";
  position: absolute;
  left: 50%;

  top: 0;
  transform: translate(-50%);
  height: 100%;
  width: 100%;
  z-index: -1;
  filter: blur(50px);
  opacity: 0.3;
}

@keyframes shine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
